@using Capstone.Web.Models.ViewModel;
@using Capstone.Web.Models.DB;
@model List<WaypointTimeModel>

@{
    ViewBag.Title = "CreateRouteSchedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table-responsive table">
    <thead style="text-align: center;">
        @if (Session["currentRouteName"] != null)
            {
            <text>Schedule for @Session["currentRouteName"]</text>
        }
    </thead>
    <tr>
        @foreach (WaypointTimeModel wtm in Model)
            {
            <th>@wtm.Waypoint.Intersection</th>
        }
    </tr>
    @if (Model[0].Times.Count > 0)
    {
        for (int i = 0; i < Model[0].Times.Count; i++)
        {
            <tr>
                @foreach  (WaypointTimeModel wtm in Model)
                {
                    <td>
                        @wtm.Times[i].ETA
                    </td>
                }
            </tr>
        }
    }
    @using (Html.BeginForm("CreateRouteSchedules", "Routes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <td>
                    @Html.TextBox($"[{i}].ETA", null, new { @type = "time" })
                    @Html.Hidden($"[{i}].WaypointID", Model[i].Waypoint.WaypointID)
                </td>
            } 
            <td>
                <button type="submit" class="btn btn-primary">Submit</button>
            </td>
        </tr>
    }
</table>

