@using Capstone.Web.Models.ViewModel;
@model WaypointViewModel


@{
    ViewBag.Title = "CreateRouteWaypoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Route Waypoints</h2>

@using (Html.BeginForm("CreateRouteWaypoints", "Routes", FormMethod.Post))
{
<<<<<<< HEAD
    @Html.AntiForgeryToken()
    for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>Waypoint @i Intersection</td>
            <td>@Html.TextBoxFor(m => m.Waypoints[i].Intersection, new { @class = "form-control" })</td>
            <td>Longitude</td>
            <td>@Html.TextBoxFor(m => m.Waypoints[i].Longitude, new { @class = "form-control" }) </td>
            <td>Latitude</td>
            <td>@Html.TextBoxFor(m => m.Waypoints[i].Latitude, new { @class = "form-control" }) </td>
        </tr>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
}
@*@using (Html.BeginForm("CreateRouteWaypoints", "Routes", FormMethod.Post))
    {
        <table class="table-responsive" id="outer-table">
            <tr>
                <td>
                    <table class="table-responsive" id="inner-table">
                        <tr>
                            <td>
                                @Html.Label("Waypoint")
                            </td>
                        </tr>
                    </table>
                </td>
                <td>

                </td>
            </tr>
        </table>
    }*@
=======
    @Html.AntiForgeryToken())
    <table class="table-responsive" id="outer-table">
        <tr>
            <td>
                <table class="table-responsive" id="inner-table">
                    <tr>
                        <td>
                            @Html.Label("Waypoint")
                            @*@Html.TextBoxFor(m => m.)*@
                        </td>
                        <td>
                            @Html.Label("Latitude")
                            @*@Html.TextBoxFor(m => m.)*@
                        </td>
                        <td>
                            @Html.Label("Longitude")
                            @*@Html.TextBoxFor(m => m.)*@
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div id="map" style="width:100%;height:500px;"></div>
                <script>
                    function myMap() {
                        var mapCanvas = document.getElementById("map");
                        var myCenter = new google.maps.LatLng(41.418692, -81.724998);
                        var mapOptions = { center: myCenter, zoom: 5 };
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        google.maps.event.addListener(map, 'click', function (event) {
                            placeMarker(map, event.latLng);
                        });
                    }
                    function placeMarker(map, location) {
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        var infowindow = new google.maps.InfoWindow({
                            content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
                        });
                        infowindow.open(map, marker);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=transporttracker-175216&callback=myMap"></script>
            </td>
        </tr>
    </table>
}
>>>>>>> 9e6570ed69a1dd909ecbb8badf955be96903536b
