@using Capstone.Web.Models.ViewModel;

@model UserRoutesView


<div id="view-routes-container">

    <div id="route-selector">
        <table id="private-routes" class="table table-hover">
            <tr id="highlight">
                <td><b>Private Routes</b></td>
            </tr>
            @foreach (var item in Model.AllRoutes)
            {
                if (item.Key.IsPrivate)
                {
                    <tr>
                        <td class="private-route">
                            @item.Key.Name
                        </td>
                    </tr>
                }
            }
        </table>

        <table id="public-routes" class="table table-hover">
            <tr id="highlight">
                <td><b>Public Routes</b></td>
            </tr>
            @foreach (var item in Model.AllRoutes)
            {
                if (!item.Key.IsPrivate)
                {
                    <tr>
                        <td class="public-route">
                            @item.Key.Name
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="route-details">
        @{int indexTracker = 0;}
        @{string display = "";}
        @foreach (var route in Model.AllRoutes)
        {
            { indexTracker = indexTracker + 1; }
            if (indexTracker == 1)
            {
                { display = "active"; }
            }
            else
            {
                { display = "hidden"; }
            }
            <table id="@route.Key.Name" class="waypoint-times-table table-responsive table table-hover @display" style="z-index: @indexTracker;">
                <tr>
                    <td id="route-details-title" colspan=@route.Value.Count>
                        <b>@route.Key.Name</b>
                    </td>
                </tr>
                <tr id="highlight">
                    @foreach (var waypoint in route.Value)
                    {
                        <td><b>@waypoint.Waypoint.Intersection</b></td>
                    }
                </tr>

                @for (int i = 0; i < route.Value[0].Times.Count; i++)
                {
                    <tr>
                        @foreach (var waypoint in route.Value)
                        {
                            <td>@waypoint.Times[i].ETA</td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
</div>
